    .geometric {
        width: 20%;
        height: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        padding-bottom: 20px;
        display: none;
        &__form {
            flex: 1;
            display: grid;
            grid-auto-flow: row;
            justify-items: center;
        }
        &__subtitle {
            margin: 20px auto 10px auto;
            font-size: 1.6rem;
        }
        &__form {
            font-size: 1rem;
        }
        &__enounce {
            text-align: center;
        }
        &__item {
            display: flex;
            align-items: center;
        }
        &__input {
            height: 30px;
            width: 200px;
            border-radius: 10px;
        }
        &__button {
            font-size: 1rem;
            height: 30px;
            width: 200px;
            border-radius: 10px;
            background-color: rgb(207, 186, 226);
            border: none;
            &:hover {
                @extend %background;
            }
        }
        &--active {
            display: initial;
        }
    }